fastapi==0.109.2
uvicorn==0.27.1
opencv-python-headless
numpy
pillow
cloudinary
pdf2image
pytesseract
python-multipart==0.0.9
requests==2.31.0
pydantic==2.6.1
PyPDF2
lxml
uvicorn[standard]
websockets
wsproto
cairosvg
openai==0.28
colorama
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
ultralytics>=8.0.0 